.topbar .navbar-header {
    background: #272c3300;
    box-shadow: none;
}

.topbar {
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%)
}

.sidebar-nav > ul > li > a.active, .sidebar-nav > ul > li > a:hover {
    border-left: 3px solid #d9618e;
}
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #c16bd9;
}

.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #c06adb;
}

.card-no-border .left-sidebar {
    box-shadow: none;
}

/**/

.dt-buttons .dt-button {
    padding: 6px 15px 3px 15px;
    border-radius: 2px;
    background: #e75d60;
    color: #ffffff;
    margin-right: 3px;
    border: none;
}

button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    background: #8b4144 !important;
    color: #ffffff !important;
    border: none !important;
}

table.dataTable tbody tr.selected {
    background-color: #b162d91f !important;
}

td {
    font-size: 12px;
}